<!-- Title -->
<div class="row mb-3">
  <div class="col-12 d-sm-flex justify-content-between align-items-center">
    <h1 class="h3 mb-2 mb-sm-0">Liste des Clients</h1>
    <a class="btn btn-sm btn-primary-soft mb-0" href="agent/Add_Client"
      >Ajouter Client</a
    >
  </div>
</div>
<div class="card bg-transparent border">
  <div class="card-header bg-light border-bottom">
    <div class="row g-3 align-items-center justify-content-between">
      <div class="col-md-12">
        <form class="rounded position-relative">
          <input
            class="form-control bg-transparent"
            name="rechercheUniversite"
            type="search"
            placeholder="Entrez le nom de Client"
            aria-label="Search"
          />
          <button
            class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
            type="submit"
          >
            <i class="fas fa-search fs-6"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div>
    <div class="card-body">
      <div class="table-responsive border-0 rounded-3">
        <ng-template #noData>
          <div class="alert alert-secondary" role="alert">
            accune Client en ce moment...
          </div>
        </ng-template>
        <table
          *ngIf="listClients.length > 0; else noData"
          class="table table-dark-gray align-middle p-4 mb-0 table-hover"
        >
          <thead>
            <tr>
              <th scope="col" class="border-0 rounded-start">Nom</th>
              <th scope="col" class="border-0">Prenom</th>
              <th scope="col" class="border-0">Télephone</th>
              <th scope="col" class="border-0">Email</th>
              <th scope="col" class="border-0">CIN</th>
              <th scope="col" class="border-0">Date Naissance</th>
              <th scope="col" class="border-0">Adresse</th>
              <th scope="col" class="border-0">Nationalité</th>
              <th scope="col" class="border-0 rounded-end">Action</th>
            </tr>
          </thead>

          <tbody *ngFor="let client of listClients">
            <tr>
              <td>
                <h5 class="table-responsive-title mb-0">{{ client.nom }}</h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">{{ client.prenom }}</h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">
                  {{ client.numeroTelephone }}
                </h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">{{ client.email }}</h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">{{ client.cin }}</h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">
                  {{ client.dateNaissance }}
                </h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">
                  {{ client.adresse }}
                </h5>
              </td>
              <td>
                <h5 class="table-responsive-title mb-0">
                  {{ client.nationality }}
                </h5>
              </td>
              <td>
                <a
                  href="agent/Add_account"
                  data-bs-target="#updateNewcard"
                  class="btn btn-success-soft btn-round me-1 mb-1 mb-md-0"
                >
                  <i class="bi bi-person-badge-fill"></i>
                </a>
                <a
                  (click)="deleteAgent(client.id)"
                  class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title=""
                  data-bs-original-title="Delete"
                >
                  <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <!-- Table body END -->
        </table>
      </div>
      <!-- Table END -->
    </div>
  </div>

  <!-- All review table END -->
</div>
